@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome to the spa, @ViewBag.username!</h1>

<a asp-controller="Spa" asp-action="Index">Select Spa Details</a>